.homeHero {
  position: relative;
  .heroImg {
    width: 100%;
    height: 65vh;
    object-fit: cover;
    z-index: 1;
  }
  .heroVector {
    position: absolute;
    right: 0px;
    top: 29vh;
    z-index: 3;
  }
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  width: 400px;
  padding: 25px;
  gap: 40px;
  p {
    font-size: 34px;
  }
  button {
    height: 45px;
    background-color: #09adb6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
  }
  button:hover {
    cursor: pointer;
  }
}
.boxInHero {
  position: absolute;
  top: 75px;
  margin-left: 10%;
  z-index: 2;
}
.boxUnderHero {
  display: none;
}
.homeItems {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.homeOffer {
  display: flex;
  flex-direction: column;
}
.topOffer {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
  img {
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
  }
  p {
    font-size: 12px;
  }
}
.middleOffer {
  img {
    height: 360px;
    width: 230px;
    object-fit: cover;
  }
}
@media (max-width: 900px) {
  .boxInHero {
    display: none;
  }
  .heroImg {
    height: 55vh !important;
    object-position: right;
  }
  .heroVector {
    top: 18vh !important;
  }
  .box {
    width: 100%;
    padding: 15px;
    gap: 20px;
    p {
      font-size: 5vw;
    }
    button {
      width: 100%;
    }
  }
  .boxUnderHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
